form{
background-color: #243746;
color: rgb(255, 255, 255);
padding-left: 250px;
}

#enviar{
    background-color: #EA0D43;
    border-color: #EA0D43;
    margin-bottom: 50px;
    width: 50%;
}

#cabecalho{
    background-color: #243746;
    padding-bottom: 30px;
}

img{
    margin-left: 33%;
}

#cabform{
    padding-bottom: 25px;
}

#pergunta{
    padding-bottom: 25px;
}

.form-check{
    size: 50px;
}

h3{
color: #EB0045;
}

#result_wrapper{
    margin-top: 25px;
}

td:first-child + td + td + td + td + td { 
     width: 10px;
     text-align: center;
     vertical-align: middle;
}

