{% extends "projeto5_website/base.html" %}
{% block content %}   
<table id="result" class="table table-striped table-hover table-bordered table-striped">
    <thead>
       <tr>
       <th scope="col">Nome</th>
       <th scope="col">Dominância</th>
       <th scope="col">Influência</th>
       <th scope="col">Cautela</th>
       <th scope="col">Estabilidade</th>
       <th scope="col">Delete</th>
       </tr>
    </thead>
    <tbody>
    {% for resultado in resultados %}
        <tr>
            <td>{{ resultado.aluno.nome}}  </td>
            <td>{{ resultado.dominancia|floatformat:1 }}%</td>
            <td>{{ resultado.influencia|floatformat:1 }}%</td>
            <td>{{ resultado.cautela|floatformat:1 }}%</td>
            <td>{{ resultado.estabilidade|floatformat:1 }}%</td>
            <td><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}